
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50 : #f0f6ee,
  100 : #dbead4,
  200 : #c3dcb8,
  300 : #aacd9b,
  400 : #98c385,
  500 : #86b870,
  600 : #7eb168,
  700 : #73a85d,
  800 : #69a053,
  900 : #569141,
  A100 : #edffe6,
  A200 : #c6ffb3,
  A400 : #a0ff80,
  A700 : #8dff67,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$board-primary: mat-palette($md-mcgpalette0);
$board-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$board-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$board-theme: mat-dark-theme((
  color: (
    primary: $board-primary,
    accent: $board-accent,
    warn: $board-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($board-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
