<div class="container mt-5">
    <div class="row" *ngIf="successmsg; else nojobsmessage">
        <div>
            <h2 class="text-center">Total-Jobs: {{totaljobs}}</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let key of headers">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of posted" >
                    <td>{{job.jobRole}}</td>
                    <td>{{job.expRequired}}</td>
                    <td>{{job.jobType}}</td>
                    <td >{{job.postedDate}}</td>
                    <td><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                            disabled>Posted</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #nojobsmessage>
        <div >
            <h3 class="text-center">{{nojobs}}</h3>
            <!-- <a routerLink="/postjob">Post A Job Now</a> -->
        </div>

    </ng-template>
</div>
